* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  background: #f4f4f4;
}

h1,h2,h3,h4,h5{
  margin: 0
}

svg{
  width: 25px;
}

a {
  color: inherit;
  text-decoration: none;
}
